* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #1A1924;
}

header {
  display: flex;
  justify-content: space-between;

  width: 880px;
  height: 48px;

  
  margin: 32px 72px 30px 222px;
}

.photo {
  height: 48px;
  width: 48px;
}

.Profille {
  display: flex;
  justify-content: center;
  flex-direction: column;

 
  width: 780px;

  padding: 5.5px 0 5.5px 0 ;
}

.Profille h1 {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.Profille p, 
.Profille p img {
  margin: 0 4px 0 0;

  color: #00B37E;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.Close {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 20px;

  cursor: pointer;
}
/*Cabeçario feito 👆*/
main {
  margin: 32px 72px 30px 222px;
}

.purple1,.Eu1,.purple2,.Eu2,#Enviar {
  width: 880px;
  height: 66px;

  color: #E1E1E6;
}

/*Conversas de Hoje*/
.Hoje {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 880px;
  height: 26px;

  color: #E1E1E6;

  margin: 0 0 30px 0;
}

#conversa {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.purple1 p, .Eu1 p, .purple2 p, .Eu2 p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

/*Menssagens*/

.menssegeP1 {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #633BBC;
  border-radius: 0px 8px 8px 8px;

  width: 252px;
  height: 42px;

  margin: 8px 0 0 0;
}

.Eu1 {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.menssegeVc1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 42px;

  background: #00B37E;
  border-radius: 8px 8px 0px 8px;

  margin: 8px 0 0 0;
}

.menssegeP2 {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #633BBC;
  border-radius: 0px 8px 8px 8px;

  width: 442px;
  height: 42px;

  margin: 8px 0 0 0;
}

.Eu2 {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.menssegeVc2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 42px;

  background: #00B37E;
  border-radius: 8px 8px 0px 8px;

  margin: 8px 0 0 0;
}

/*area de enviar as menssagens*/
#Enviar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 880px;
  height: 52px;
  
  background: #00B37E;
  border-radius: 999px;
}

#Enviar input {
  width: 750px;
  height: 52px;

  background: transparent;
  color: #fff;
  outline: none;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

input::placeholder {
  color: #fff;
}

#Enviar img {
  cursor: pointer;
} 